1. Treino
2. Validação
3. Teste

# Primeiro Modelo com Random Forest

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
train.describe().T

In [ ]:
test.describe().T

In [ ]:
train.head()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split

In [ ]:
X_falso = np.arange(10)

In [ ]:
np.random.seed(0)
train_test_split(X_falso, test_size=0.5)

In [ ]:
#np.random.seed(0)
#X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size=0.5)

In [ ]:
modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)

### Variáveis

### Variáveis

In [ ]:
#Sex_binario = 1 - Mulher
#Sex_binario = 0 - Homem
variaveis = ['Sex_binario','Age']

In [ ]:
train['Sex'].value_counts()

In [ ]:
def transformar_sexo(valor):
    if valor =='female':
        return 1
    else:
        return 0

train['Sex_binario'] = train['Sex'].map(transformar_sexo)

In [ ]:
train.head()

In [ ]:
train.describe().T

In [ ]:
train['Sex_binario'].value_counts()

In [ ]:
variaveis=['Sex_binario','Age']

In [ ]:
X = train[variaveis]
y = train['Survived']

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
modelo.fit(X,y)

In [ ]:
X = X.fillna(-1)

In [ ]:
modelo.fit(X,y)

In [ ]:
X_prev = test[variaveis]

In [ ]:
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [ ]:
X_prev = test[variaveis]
X_prev = X_prev.fillna(-1)

In [ ]:
X_prev.head()

In [ ]:
p = modelo.predict(X_prev)

In [ ]:
p

In [ ]:
p.shape

In [ ]:
test.head()

In [ ]:
test.shape

In [ ]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [ ]:
sub

In [ ]:
sub.to_csv('Submissao_Random_Forest.csv', header=True)

In [ ]:
!head -n10 Submissao_Random_Forest.csv

# Segundo Modelo com Random Forest

In [ ]:
np.random.seed(0)
X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size=0.5)

In [ ]:
X_treino.head()

In [ ]:
X_treino.shape, X_valid.shape, y_treino.shape, y_valid.shape

In [ ]:
modelo.fit(X_treino, y_treino)

In [ ]:
modelo.predict(X_valid)

In [ ]:
p = modelo.predict(X_valid)

In [ ]:
p.shape

In [ ]:
np.mean(y_valid == p)

In [ ]:
p = (X_valid['Sex_binario'] == 1).astype(np.int64)

In [ ]:
p

# Salvar Base

In [ ]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [ ]:
sub

In [ ]:
sub.to_csv('Submissao_Random_Forest1.csv', header=True)

In [ ]:
!head -n10 Submissao_Random_Forest1.csv

# Método de Reamostragem

## Validação Cruzada

In [ ]:
X_falso

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
kf = KFold(3, shuffle=True, random_state=0)
for linhas_treino, linhas_valid in kf.split(X_falso):
    print("Treino:", linhas_treino)
    print("Valid:", linhas_valid)
    print()

In [ ]:
#?KFold
import pandas as pd

In [ ]:
resultados = []
for rep in range(10):
    print('--------------------------------')
    print('Rep:', rep)
    kf = KFold(2, shuffle=True, random_state=rep)
    for linhas_treino, linhas_valid in kf.split(X):
        print("Treino:", linhas_treino.shape[0])
        print("Valid:", linhas_valid[0])
        print()

        X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_valid]
        y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_valid]

        modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)
        modelo.fit(X_treino, y_treino)

        p = modelo.predict(X_valid)

        acc = np.mean(y_valid == p)

        resultados.append(acc)
        print('Acc:', acc)

        print()

        #print(X_treino.head())
        #print()

In [ ]:
resultados

In [ ]:
np.mean(resultados)

In [ ]:
np.mean(resultados)

# Melhoria Modelo

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RepeatedKFold

In [ ]:
resultados = []
kf = RepeatedKFold(n_splits=2, n_repeats=10, random_state=10)

for linhas_treino, linhas_valid in kf.split(X):
    print("Treino:", linhas_treino.shape[0])
    print("Valid:", linhas_valid[0])
    print()

    X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_valid]
    y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_valid]

    modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)
    modelo.fit(X_treino, y_treino)

    p = modelo.predict(X_valid)

    acc = np.mean(y_valid == p)

    resultados.append(acc)
    print('Acc:', acc)

    print()

    #print(X_treino.head())
    #print()

In [ ]:
resultados

In [ ]:
resultados.head()

In [ ]:
%matplotlib inline
%pylab inline

In [ ]:
pylab.hist(resultados)

In [ ]:
resultados.shape

In [ ]:
import pandas as pd

# Novas Variáveis

In [ ]:
train.head()

In [ ]:
variaveis = ['Sex_binario', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare']

In [ ]:
variaveis

In [ ]:
X = train[variaveis].fillna(-1)
y = train['Survived']

In [ ]:
resultados = []
kf = RepeatedKFold(n_splits=2, n_repeats=10, random_state=10)

for linhas_treino, linhas_valid in kf.split(X):
    print("Treino:", linhas_treino.shape[0])
    print("Valid:", linhas_valid[0])
    print()

    X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_valid]
    y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_valid]

    modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)
    modelo.fit(X_treino, y_treino)

    p = modelo.predict(X_valid)

    acc = np.mean(y_valid == p)

    resultados.append(acc)
    print('Acc:', acc)

    print()

    #print(X_treino.head())
    #print()

In [ ]:
resultados

In [ ]:
pylab.hist(resultados)

In [ ]:
np.mean(resultados)

---

# Retreinar o Modelo

In [356]:
def transformar_sexo(valor):
    if valor =='female':
        return 1
    else:
        return 0

train['Sex_binario'] = train['Sex'].map(transformar_sexo)

In [357]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train['Sex_binario'] = train['Sex'].map(transformar_sexo)
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

variaveis = ['Sex_binario','Age']

X = train[variaveis].fillna(-1)
y = train['Survived']

In [358]:
variaveis = ['Sex_binario', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare']

In [359]:
X = train[variaveis].fillna(-1)
y = train['Survived']

In [360]:
variaveis

['Sex_binario', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare']

In [361]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [362]:
X.head()

   Sex_binario   Age  Pclass  SibSp  Parch     Fare
0            0  22.0       3      1      0   7.2500
1            1  38.0       1      1      0  71.2833
2            1  26.0       3      0      0   7.9250
3            1  35.0       1      1      0  53.1000
4            0  35.0       3      0      0   8.0500

In [363]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [364]:
test[variaveis].head()

   Sex_binario   Age  Pclass  SibSp  Parch     Fare
0            0  34.5       3      0      0   7.8292
1            1  47.0       3      1      0   7.0000
2            0  62.0       2      0      0   9.6875
3            0  27.0       3      0      0   8.6625
4            1  22.0       3      1      1  12.2875

In [365]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=1, random_state=0)

modelo.fit(X, y)
#modelo.fit(X_treino, y_treino)

#p = modelo.predict(X_valid)

#p = modelo.predict(test[variaveis]).fillna(-1)

p = modelo.predict(test[variaveis].fillna(-1))

In [366]:
modelo

RandomForestClassifier(n_jobs=1, random_state=0)

In [367]:
p

array([0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

# Criar Submission

In [ ]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')
sub.shape

In [ ]:
sub.to_csv('my_submission_update.csv', header=True)

In [ ]:
!head -n10 my_submission_update.csv

# Análise Erro

In [368]:
resultados = []
kf = RepeatedKFold(n_splits=2, n_repeats=10, random_state=10)

for linhas_treino, linhas_valid in kf.split(X):
    print("Treino:", linhas_treino.shape[0])
    print("Valid:", linhas_valid[0])
    print()

    X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_valid]
    y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_valid]

    modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1,random_state=0)
    modelo.fit(X_treino, y_treino)

    p = modelo.predict(X_valid)

    acc = np.mean(y_valid == p)

    resultados.append(acc)
    print('Acc:', acc)

    print()

    #print(X_treino.head())
    #print()

Treino: 445
Valid: 1

Acc: 0.7869955156950673

Treino: 446
Valid: 0

Acc: 0.7797752808988764

Treino: 445
Valid: 0

Acc: 0.827354260089686

Treino: 446
Valid: 3

Acc: 0.8179775280898877

Treino: 445
Valid: 0

Acc: 0.7847533632286996

Treino: 446
Valid: 2

Acc: 0.7842696629213484

Treino: 445
Valid: 0

Acc: 0.8161434977578476

Treino: 446
Valid: 2

Acc: 0.7842696629213484

Treino: 445
Valid: 1

Acc: 0.8004484304932735

Treino: 446
Valid: 0

Acc: 0.8

Treino: 445
Valid: 0

Acc: 0.8183856502242153

Treino: 446
Valid: 4

Acc: 0.802247191011236

Treino: 445
Valid: 4

Acc: 0.8116591928251121

Treino: 446
Valid: 0

Acc: 0.8067415730337079

Treino: 445
Valid: 1

Acc: 0.820627802690583

Treino: 446
Valid: 0

Acc: 0.7887640449438202

Treino: 445
Valid: 0

Acc: 0.8385650224215246

Treino: 446
Valid: 3

Acc: 0.8044943820224719

Treino: 445
Valid: 8

Acc: 0.7982062780269058

Treino: 446
Valid: 0

Acc: 0.8112359550561797

In [369]:
X_valid_check = train.iloc[linhas_valid].copy()
X_valid_check['p'] = p
X_valid_check.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario,p
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0

In [370]:
X_valid_check

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario,p
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0

In [371]:
erros = X_valid_check[X_valid_check['Survived'] != X_valid_check['p']]

In [373]:
erros = X_valid_check[X_valid_check['Survived'] != X_valid_check['p']]
#erros = erros[['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Sex_binario', 'p', 'Survived']]

In [374]:
#erros = X_valid_check[X_valid_check['Survived'] != X_valid+check['p']
erros = erros[['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Sex_binario', 'p', 'Survived']]

In [377]:
mulheres = erros[erros['Sex'] == 'female']

In [382]:
homens = erros[erros['Sex'] == 'male']

In [379]:
mulheres

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario,p,Survived
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,1,0,1
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,1,0,1
44,45,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,1,0,1
85,86,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S,1,0,1
142,143,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1,0,STON/O2. 3101279,15.8500,NaN,S,1,0,1
177,178,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C,1,1,0
192,193,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S,1,0,1
216,217,3,"Honkanen, Miss. Eliina",female,27.0,0,0,STON/O2. 3101283,7.9250,NaN,S,1,0,1
233,234,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S,1,0,1
254,255,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S,1,1,0
357,358,2,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0000,NaN,S,1,1,0
419,420,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,NaN,S,1,1,0
474,475,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S,1,1,0
479,480,3,"Hirvonen, Miss. Hildur E",female,2.0,0,1,3101298,12.2875,NaN,S,1,0,1
498,499,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S,1,1,0
501,502,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.7500,NaN,Q,1,1,0
503,504,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.5875,NaN,S,1,1,0
593,594,3,"Bourke, Miss. Mary",female,NaN,0,2,364848,7.7500,NaN,Q,1,1,0
654,655,3,"Hegarty, Miss. Hanora ""Nora""",female,18.0,0,0,365226,6.7500,NaN,Q,1,1,0
677,678,3,"Turja, Miss. Anna Sofia",female,18.0,0,0,4138,9.8417,NaN,S,1,0,1
772,773,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S,1,1,0
830,831,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,1,0,1
852,853,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,1,1,0
854,855,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S,1,1,0
855,856,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S,1,0,1
866,867,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,1,0,1
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,1,1,0
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,1,0

In [383]:
homens

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario,p,Survived
21,22,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S,0,0,1
23,24,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S,0,0,1
27,28,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,0,1,0
34,35,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C,0,1,0
36,37,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,0,0,1
48,49,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C,0,1,0
55,56,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,0,0,1
102,103,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S,0,1,0
118,119,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,0,1,0
122,123,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C,0,1,0
139,140,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C,0,1,0
146,147,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S,0,0,1
165,166,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S,0,0,1
169,170,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S,0,1,0
187,188,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S,0,0,1
214,215,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q,0,1,0
231,232,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S,0,1,0
238,239,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S,0,1,0
248,249,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S,0,0,1
262,263,1,"Taussig, Mr. Emil",male,52.00,1,1,110413,79.6500,E67,S,0,1,0
271,272,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S,0,0,1
283,284,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S,0,0,1
338,339,3,"Dahl, Mr. Karl Edwart",male,45.00,0,0,7598,8.0500,NaN,S,0,0,1
371,372,3,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,NaN,S,0,1,0
373,374,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C,0,1,0
391,392,3,"Jansson, Mr. Carl Olof",male,21.00,0,0,350034,7.7958,NaN,S,0,0,1
400,401,3,"Niskanen, Mr. Juha",male,39.00,0,0,STON/O 2. 3101289,7.9250,NaN,S,0,0,1
414,415,3,"Sundman, Mr. Johan Julian",male,44.00,0,0,STON/O 2. 3101269,7.9250,NaN,S,0,0,1
422,423,3,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,NaN,S,0,1,0
429,430,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S,0,0,1
442,443,3,"Petterson, Mr. Johan Emil",male,25.00,1,0,347076,7.7750,NaN,S,0,1,0
444,445,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S,0,0,1
449,450,1,"Peuchen, Major. Arthur Godfrey",male,52.00,0,0,113786,30.5000,C104,S,0,0,1
489,490,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.00,1,1,C.A. 37671,15.9000,NaN,S,0,0,1
544,545,1,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C,0,1,0
553,554,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.00,0,0,2620,7.2250,NaN,C,0,0,1
569,570,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S,0,0,1
579,580,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S,0,0,1
621,622,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,D19,S,0,0,1
622,623,3,"Nakid, Mr. Sahid",male,20.00,1,1,2653,15.7417,NaN,C,0,0,1
630,631,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S,0,0,1
643,644,3,"Foo, Mr. Choong",male,NaN,0,0,1601,56.4958,NaN,S,0,0,1
647,648,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.00,0,0,13213,35.5000,A26,C,0,0,1
673,674,2,"Wilhelms, Mr. Charles",male,31.00,0,0,244270,13.0000,NaN,S,0,0,1
690,691,1,"Dick, Mr. Albert Adrian",male,31.00,1,0,17474,57.0000,B20,S,0,0,1
698,699,1,"Thayer, Mr. John Borland",male,49.00,1,1,17421,110.8833,C68,C,0,1,0
707,708,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,E24,S,0,0,1
721,722,3,"Jensen, Mr. Svend Lauritz",male,17.00,1,0,350048,7.0542,NaN,S,0,1,0
744,745,3,"Stranden, Mr. Juho",male,31.00,0,0,STON/O 2. 3101288,7.9250,NaN,S,0,0,1
751,752,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S,0,0,1
762,763,3,"Barah, Mr. Hanna Assi",male,20.00,0,0,2663,7.2292,NaN,C,0,0,1
783,784,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,1,0
803,804,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,0,0,1
804,805,3,"Hedman, Mr. Oskar Arvid",male,27.00,0,0,347089,6.9750,NaN,S,0,0,1
821,822,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S,0,0,1

In [384]:
mulheres.sort_values('Survived')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario,p,Survived
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,1,0
501,502,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.7500,NaN,Q,1,1,0
498,499,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S,1,1,0
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,1,1,0
474,475,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S,1,1,0
419,420,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,NaN,S,1,1,0
357,358,2,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0000,NaN,S,1,1,0
254,255,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S,1,1,0
503,504,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.5875,NaN,S,1,1,0
654,655,3,"Hegarty, Miss. Hanora ""Nora""",female,18.0,0,0,365226,6.7500,NaN,Q,1,1,0
772,773,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S,1,1,0
177,178,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C,1,1,0
852,853,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,1,1,0
854,855,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S,1,1,0
593,594,3,"Bourke, Miss. Mary",female,NaN,0,2,364848,7.7500,NaN,Q,1,1,0
830,831,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,1,0,1
855,856,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S,1,0,1
866,867,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,1,0,1
677,678,3,"Turja, Miss. Anna Sofia",female,18.0,0,0,4138,9.8417,NaN,S,1,0,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,1
216,217,3,"Honkanen, Miss. Eliina",female,27.0,0,0,STON/O2. 3101283,7.9250,NaN,S,1,0,1
192,193,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S,1,0,1
142,143,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1,0,STON/O2. 3101279,15.8500,NaN,S,1,0,1
85,86,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S,1,0,1
44,45,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q,1,0,1
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,1,0,1
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,1,0,1
233,234,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,NaN,S,1,0,1
479,480,3,"Hirvonen, Miss. Hildur E",female,2.0,0,1,3101298,12.2875,NaN,S,1,0,1

In [389]:
mulheres.sum()

/tmp/ipykernel_1349/648731720.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mulheres.sum()

PassengerId                                                13375
Pclass                                                        79
Name           Heikkinen, Miss. LainaMcGowan, Miss. Anna "Ann...
Sex            femalefemalefemalefemalefemalefemalefemalefema...
Age                                                        680.0
SibSp                                                         16
Parch                                                         20
Ticket         STON/O2. 31012823309233470773309583101278STON/...
Fare                                                    558.8918
Embarked                           SQSQSSCSSSSSSSSSQSQQSSCCSSCSS
Sex_binario                                                   29
p                                                             15
Survived                                                      14
dtype: object